name: pre-commit

on:
    workflow_call:
        inputs:
            python_version:
                description: "Python version to use"
                required: false
                type: string
                default: "3.14"

jobs:
    pre-commit:
        runs-on: ubuntu-latest
        steps:
            - name: checkout
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
              with:
                  fetch-depth: 0
                  submodules: recursive
                  token: ${{ secrets.GITHUB_TOKEN }}

            - name: setup-uv
              uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
              with:
                  version: "latest"
                  enable-cache: true
                  python-version: ${{ inputs.python_version }}

            - name: cache-uv
              uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
              with:
                  path: |
                      ~/.local
                      ${{ github.workspace }}/.venv
                  key: uv-${{ runner.os }}-py${{ inputs.python_version }}-${{ hashFiles('uv.lock') }}-${{ github.run_id }}
                  restore-keys: |
                      uv-${{ runner.os }}-py${{ inputs.python_version }}-${{ hashFiles('uv.lock') }}-
                      uv-${{ runner.os }}-py${{ inputs.python_version }}-

            - name: install-bake
              run: |
                  uv tool install "bakefile[lib]"
                  uv tool upgrade --all
                  bake --version

            - name: install-dependencies
              run: uv sync --all-extras --all-groups --frozen

            - name: setup-bun
              uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3 # v2.1.2
              with:
                  bun-version: latest

            - name: run-pre-commit
              uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
              with:
                  extra_args: --all-files
