name: publish-python-package

on:
    workflow_call:
        inputs:
            version:
                required: true
                type: string
                description: "PEP440 version string"
            repository_url:
                required: false
                type: string
                description: "PyPI repository URL (default: official PyPI)"
                default: ""
        secrets:
            PYPI_API_TOKEN:
                required: true

jobs:
    publish:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

            - name: Update version in pyproject.toml
              run: |
                  sed -i.bak 's/^version = .*/version = "${{ inputs.version }}"/' pyproject.toml
                  grep '^version' pyproject.toml

            - name: Set up Python
              uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
              with:
                  python-version: "3.14"

            - name: Install uv
              uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
              with:
                  version: "latest"

            - name: Build package
              run: uv build

            - name: Publish to PyPI
              uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
              with:
                  repository-url: ${{ inputs.repository_url || '' }}
                  password: ${{ secrets.PYPI_API_TOKEN }}
                  verbose: true
                  skip-existing: true
